
/*Stretch goal: import & use own font

@font-face {
    font-family: Quattrocentro;
    src: "fonts/QuattrocentoSans-Regular.ttf";
  }
  */


body{
    object-fit: cover;
    background-color: #B3B9AF;
    font-family: Helvetica;
    letter-spacing: 0.05em;
    font-weight: lighter;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "t t t t t t t t t t t t"
    ". p p p p . . . . . . ."
    ". . . . . . g g g g g ."
    ". b b b b . . . . . . ."
    ". . . . . . h h h h h ."
    ". c c c c . . . . . . ."
    ". . r r r r r r r r . ."
    ". . x x x x x x x x . ."
    ". . y y y y y y y y . ."
    ". f f f f f f f f f f .";
}

p{
    font-family: 'Gill Sans'
}

.cards p {
    font-weight: normal;
}

/*Page Title*/
header{
    grid-area: t;
    height: 500px;
    /*Style the background image*/
    background-image: url("images/cucumber-2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    /*Style the title*/
    text-align: center;
    text-transform: uppercase;
    font-size: 350%;
    font-family: Tahoma;
    font-weight: 100;
    letter-spacing: 0.2em;
    color: whitesmoke;

}

/*Plant*/
#plant{
    grid-area: p;
}

/*Growing*/
#growing{
    grid-area: g;
}

/*Pests & Disease*/
#bugs{
    grid-area: b;
}

/*Harvest*/
#harvest{
    grid-area: h;
}

/*Cooking*/
#cooking{
    grid-area: c;
}

/*Recipe*/
#recipe {
    grid-area: r;
    background-color: whitesmoke;
}

#recipe img, li{
    width: 80%;
    margin: auto;
    object-fit: cover;
    object-position: 80%;
}


/*More Recipes*/
#more-recipes{
    grid-area: x;
}

/*More Plants*/
#more-plants{
    grid-area: y;
}

/*Footer*/
footer{
    grid-area: f;
}


/*SECTION 
create a minimum height of 400px
add 20px of padding all around*/
section{  
    padding: 100px 20px 100px 20px;
}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards img {
    object-fit: cover;
    height: 60%;
    width: 80%
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: center;
    width: 30%;
    background-color: whitesmoke;
    border-radius: 10px;
}

.card p {
    max-width: 80%
}