/*Imported Fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
  */

/*CSS RESET: default browser variables were causing a BIG
headache for me, so I decided to manually set each of these
later on. */
* { padding: 0; margin: 0; }

/*GLOBAL STYLE ATTRIBUTES*/

/*BODY:
- make the width 90% of the window, set margin to auto
- set the background color to #b3b9af
- set font family to poppins, weight to 300, spacing 1px
- set letter spacing to 
- hide overflow on the x axis*/

body{
    margin: auto;
    background-color: #B3B9AF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .02em;
    overflow-x: hidden;
}


/*SECTION:
- set the minimum section height to 100vh
- create a top margin of 100px
- make the width 90vw
- set left and right margins to auto
 */
section{
    min-height: 100vh;
    margin-top: 100px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}



/*IMAGE:
- set the default objecct-fit to cover
 */
img{
    object-fit: cover;
    /*DELETE LATER*/
    width: 30%;
    height: 60%;
}



/*--------------------------------------------------------------------*/
/*SECTION ATTRIBUTES*/


/*Blog Hero Header:
- make it the full width of the screen
 */
 header{
    /*Style the background image*/
    background-image: url("images/cucumber-2.jpeg");
    /*attachment creates parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    height: 100vh;
}

/*Style the h1*/

h1{
    width: 100vw;
    /*match height and line-height for vertical alignment*/
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 150px;
    font-weight: 300;
    color: whitesmoke;
    text-transform: uppercase;
}



h2{
    font-size: 5em;
}

h3{
    font-size: 4em;
}

h4{
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
}

p{
    font-size: 1.3em;
}

li {
    margin: auto;
    overflow-wrap: normal;
    padding-top: 5px;
    font-size: 1.1em;
}

ol {
    margin: auto;
    padding-top: 5px;
    font-size: 1.05em;
}




/*--------------------------------------------------------------------*/
/*STYLE THE RECIPE*/

/*Recipe:
- set background color to whitesmoke, border radius to 30px
- make the width 70vw, top/bottom paddings 10vh
- change the display to a flex column
*/
#recipe{
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/*Style the children contents inside Recipe:
- set the left and right padding to 10vw
- set the line height to 2em for ease of reading
*/
#recipe h3, h4, ul, ol, img {
    padding-left: 10vw;
    padding-right: 10vw;
    line-height: 2em;
}

#recipe h4, img{
    padding-top: 30px;
}
/*--------------------------------------------------------------------*/
/*STYLE THE FOOTER*/


/*Footer:
- align the text in the center
- set the margin to auto to center l/r
 */
 footer{
    margin: auto;
    text-align: center;
    background-color: #f2ede9;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

footer h2, h3{
    font-size: 30px;
}